<div id="<%= dom_id orcamento %>">
  <p>
    <strong>Nome:</strong>
    <%= orcamento.nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= orcamento.cnpj %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= orcamento.descricao %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= orcamento.codigo %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= orcamento.quantidade %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= orcamento.valor %>
  </p>

</div>
